body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

li {
  list-style-type: none;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__large-img {
    width: 450px;
  }
  &__list {
    margin-top: 0;
    display: flex;
    padding-left: 0;
  }
  &__img {
    padding: 3px;
    border: 1px solid lightgray;
    border-radius: 4px;
  }
  &__thumb {
    width: 83px;
  }
}
